.downloadBtn
{
   padding: 25px 10px 10px 10px;

   background-color: green;
}

.appproject
{
   color: white;

   background-color: #5F9EA0;

   border-bottom: 1px solid white;
}

img
{
   width: 10%;
}

h5
{
   padding: 25px 10px 10px 10px;
}

h6
{
   font-style: italic;
}

h6, p
{
   padding: 15px 10px 10px 10px;
}
