.slideshow_element
{
   width: 100%;
   height: 100%;

   display: none;
}

.description
{
   text-align: center;

   width: 100%;
   height: 100%;

   padding-top: 5%;
   font-family: serif;
   font-size: 4em;
   color: white;
}

.intro
{
   background-color: #30363a;
   color: white;

   width: 100%;
   height: 100%;
}
.intro #firstPara
{
   padding-top: 5%;

   font-size: 1%;
}
.intro #secondPara
{
   font-size: 4em;
}
.intro #firstPara, .intro #secondPara
{
   display: none;

   text-align: center;
   font-family: serif;
}

/* The following are for the fading effect */
.fadeEffect
{
   animation-name: fade;
   animation-duration: 3s;
}
@keyframes fade
{
   from{opacity: 0}
   to{opacity: 1}
}
