h2
{
   margin-top: 10px;
   margin-bottom: 3%;

   font-family: serif;
}

img
{
   width: 50px;
}

.skillset_section
{
   text-align: center;
   color: white;
}

.specialty_sections
{
   font-family: 'Courgette', ;

   display: none;
}

.carousel-control-prev:hover, .carousel-control-next:hover
{
   background-color: #DCDCDC;
}

.list-group
{
   font-size: 25px;
   font-family: 'Courgette', ;
   font-family: 'Orbitron', ;

   margin: 5px;
}

.language-item, .addknowledge-item, .osknowledge-item
{
   background-color: #313639; /* off black color */
}
